html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, em, font, img, kbd, q, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    background: transparent;
    font: 12px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #wrapper {
    height: 100%;

}

body > #wrapper {

    height: auto;
    min-height: 100%;

    background: url('/images/marketing_bg.png') repeat-x;
}

html, body {
    background: url("/images/tile.gif") repeat scroll -70% 0 #F0F0F0;
    color: #2D302D;
    

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

h1, h2, h3, h4 {
    text-transform: lowercase;
    font: bold "Century Schoolbook", Georgia, Times, serif;
    margin: 0.5em 0;
}

h1 {

    font-size: 1.3em;
    font-weight: normal;

}

h1 span.h1 {
    z-index: 1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 0.5em;
    display: inline-block;
    color: #FFF;
    background: #393D39;
}

h2 a {

    color: #00469C;
}

h2 a:hover {
    color: #0069E9;
}

h2 {

    color: #822448;
    display: block;

    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0.2em;
}

h3 {
    color: #016390;

}

p {
    line-height: 2em;

}

a {
    color: #162D3D;
    text-decoration: none;
}

a:hover {
    color: #0063dc;
}

#logo {
    padding-top: 20px;
}
#head {
margin:0 auto;
text-align:left;
width:950px;
}




#wrapper {
    min-height: 400px;
}


#content {

    text-align: left;
    margin: 0 auto;
    width: 950px;
    padding-bottom: 16em;
}





.center-content {
    width: 950px;
    margin: 0 auto;

}
.right {
    float: right;

}

.left {
    float: left;
}





.clear {
    clear: both;
}

* html .clearfix {
    height: 1%;
}

/*========================= Form elements =====================================*/

form p {
    padding: 0.5em;
}




form input, textarea, select {
    background: url("../images/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
    padding: 0.3em;
    border: 1px solid #dedede;
    color: #284966;
}

input {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;

}

a {
    list-style-type: none;

}

/* ======================================= BUTTONS  =================================
=                                                                                =
=                                                                                =
=                                                                                =
=                                                                                =
=================================================================================*/
.om-icon-only, .om-footer-symbol {
   background-image: url(../images/iconSprite.png);
   background-repeat: no-repeat;
   }

   .om-footer-symbol{
   display: inline-block;
   width:64px;
   height:48px;
   }
   .om-footer-twitter{
   background-position:0 -464px;
   }
   .om-footer-rss{
   background-position:0 -512px;
   }
   .om-footer-calendar{
   background-position:0 -560px;
   }
.om-footer-mail{
background-position:0 -608px;
}
.om-footer-help{
background-position:0 -656px;
}



/*END BUTTONS*/


#loginPanel form label {
    float: none;
}

/* must be same height as the footer */

#footer_wrapper {
    position: relative;
    margin: -16em 0; /* negative value of footer height */
    height: 16em;
    clear: both;

}

#footer {
    width: 950px;
    margin: 0 auto;
    background: #191919;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}
#footer table{
    width:100%;

    text-align:center;
}
#footer h1 {
    color:#ddd;
        text-shadow: #333 1px 1px 0px;
}
#footer table td {

    vertical-align:top;
    color:#666;
}

#footer div.footer-content{
    padding:1em;
    text-align:left;
}
#footer span.date{
    padding:0 10px 0 0;
    color:#C7CCCD;
}

#footer a {
    color:#666666;
}

#loginWrapper {
    display: none;

}

#loginFailed {

    font-size: 0.8em;
    position: relative;
}

#ctlrBar {
    margin-left: 1em;
    height: 28px;
    line-height: 28px;
    float: right;
    vertical-align: bottom
}

#ctlrBar a {
    color: #FFF;
    cursor: pointer;

}

.content li {
    padding: 1em 0 1em 0;
}

.center {
    text-align: center !important;
}

/** TODO  source it out to a different file **/
#mkt_present {
    padding: 35px 0;
}

span.om-marketing-bullet{
    height:34px;
    width :34px;
    display:inline-block;
    *display:inline;
    z-index:1;

}
#landing_list > li > span.explanation{
    font-weight:normal;
    font-size:16px;
}

#landing_list li {
    border-bottom: none;
    color: #421325;
    text-shadow: #FFF 1px 1px 1px;
    width: 500px;

    background: url("/images/bullet.png") left no-repeat;
    padding: 1em 0 0 45px;
}
#landing_list > li > span {
    font-size: 18px;
    font-weight: bold;
}


#mkt_carousel {
    -moz-box-shadow: 0 0 20px #646767;
    -webkit-box-shadow: 0 0 20px #646767;
    box-shadow: 0 0 20px #646767;

}

.bold {
    padding: 1em 0;
    font-size: 24px;

    color: #162D3D;
}

#mkt_bubbles {
    width: 950px;
    margin: 0 auto;
    

}

#mkt_bubbles .bubble {
    color: #0063dc;
    font-size: 2em;
    text-align: center;
    margin: 2em;
    float: left;
    height: 160px;
}

#mkt_navigation {
    float:right;
margin:0 auto;
padding-top:30px;

text-align:center;
top:30px;
}

#mkt_navigation ul li {
    padding: 0 1em;
    float: left;
}

#mkt_navigation a {
    text-shadow: #191919 1px -1px 1px;
    font-weight: bold;
    font-size: 1.3em;
    color: #f2f2f2;
}
.om-benefits{
    font-size:18px;
}
.textholder {
    color:#fff;
    padding:10px;

}

